.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
*.Rproj

/old
*.bak
*.gob
*.shp
*.dbf
*.prj
*.shx
*.cpg

*.qgz
*.old
*.zip
*.7z
*.rar

*watercourse_*
*.geojson
*-script.txt

overland-drainage-areas/
input/
old/
tiles/
png*
*.bil
*.hdr
*.prj
*.nc
*.csv
*.xlsx
*.tim
*.sta
*.air_pressure
*.air_temperature
*.relative_humidity
*.wind_speed
*.water_*
*.lnk